{
  "Database": {
    "ConnectionStrings": {
      "SQLServerConnection": "Server=...;Database=RestaurantReservationCore;trusted_connection=true;TrustServerCertificate=True;MultipleActiveResultSets=true"
    },
    "Logging": {
      "LogLevel": "Information",
      "EnableSensitiveDataLogging": false
    }
  }
}